.footer__columns{
    margin-left: 5%;
    margin-right: 5%;
    min-height: 350px; 
    width: 90%;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }